# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# File buatan sementara / log (Opsional)
*.log